.title {
   padding: 10px;
   margin: 0;
   background-color: #27a4f2;
   margin-bottom: 1.5rem;
}
.cards {
   padding: 2rem;
}
.list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1.5rem;
   margin-bottom: 1rem;
}
.listItems {
   width: 150px;
   padding: 0 20px 20px 20px;
   border-radius: 5px;
   background: #27a4f2;
   transition:  0.2s ease;
}
.listItems:hover {
   transform: scale(1.05);
   cursor: pointer
}
.imgs {
   width: 100%;
   height: auto;
}
.btnLoadMore {
   padding: 0.5rem 1rem;
   font-size: 1rem;
   cursor: pointer;
   border: none;
   border-radius: 10px;
   position: absolute;
   bottom: 0.4rem;
   transform: translateX(-50%);
}
.details {
  margin: 0 auto;
  margin-bottom: 10px;
  color: black;
}

