#root {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #e0dbdb;
  box-shadow: 0px 1px 50px -2px rgba(236, 236, 236, 0.58);
  min-height: 100vh;
}



